.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 100vw;
  min-height: 100vh;
  padding: 5rem 3rem;
  z-index: 2;
  background-color: #03055e31;
  text-align: justify;
  cursor: context-menu;
  user-select: none;
}

.contact h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #0077b6;
}

.contact svg {
  width: 1.8rem;
  fill: #0077b6;
  animation: rotateGlobe 5s linear infinite;
}

@keyframes rotateGlobe {
  to {
    transform: rotateY(360deg);
  }
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 40rem;
}

.firstFields input,
.secFields input,
.fields select,
.lastFields input {
  height: 1.8rem;
  border-radius: 0.5rem;
  padding: 0 0.3rem;
}

.fields select option:hover,
.fields select option:checked {
  background-color: #023e8a;
  color: white;
}

.firstFields,
.secFields {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  gap: 1rem;
}

.lastFields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.firstFields > div,
.secFields > div,
.lastFields > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

.firstFields > div::before,
.lastFields > div::before,
.thirdFields::before {
  content: "Required";
  position: absolute;
  font-size: 0.7rem;
  font-weight: 600;
  color: #023e8a;
  top: 0.5rem;
  left: 0.3rem;
  transition: color 0.2s ease-in-out;
}

.thirdFields::before {
  top: 0.2rem;
  left: 4.3rem;
}

.secFields > div::before,
.firstFields > div:last-child::before,
.lastFields > div:first-child::before,
.thirdFields > div {
  content: "Optional";
  position: absolute;
  font-size: 0.7rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  top: 0.5rem;
  left: 0.3rem;
}

.fields label {
  align-self: flex-start;
}

.firstFields label,
.secFields label,
.lastFields label {
  position: relative;
  left: 0.3rem;
  bottom: -2rem;
  color: rgba(0, 0, 0, 0.7);
  transition: bottom 0.3s ease-in-out;
  pointer-events: none;
}

.firstFields > div:first-child,
.secFields > div:first-child {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

.firstFields > div:first-child,
.secFields > div:first-child,
.lastFields textarea {
  width: 80%;
}

.firstFields > div:nth-child(2),
.secFields > div:nth-child(2) {
  grid-row: 2 / -1;
  grid-column: 1 / 2;
}

.secFields > div:nth-child(2) {
  max-width: 19.6rem;
}

.firstFields > div:last-child,
.secFields > div:last-child {
  grid-row: 2 / -1;
  grid-column: 2 / 3;
}

.thirdFields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.thirdFields > section {
  align-self: center;
}

.services {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(2, 1fr);
  gap: 1rem;
}

.services > div {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0 2.5rem;
}

.lastFields > div:first-child {
  width: 48%;
}

.lastFields textarea {
  border-radius: 0.6rem;
  resize: none;
  padding: 0.3rem;
}

.firstFields input,
.secFields input,
.lastFields input,
.fields select,
.lastFields textarea {
  border: none;
  outline: none;
  cursor: context-menu;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
}

.firstFields input:focus,
.secFields input:focus,
.lastFields input:focus,
.lastFields textarea:focus {
  cursor: text;
}

.firstFields input:focus,
.secFields input:focus,
.fields select:focus,
.lastFields input:focus,
.lastFields textarea:focus,
.firstFields input:active,
.secFields input:active,
.fields select:active,
.lastFields input:active,
.lastFields textarea:active,
.firstFields input:hover,
.secFields input:hover,
.fields select:hover,
.lastFields input:hover,
.lastFields textarea:hover {
  outline: 0.13rem solid #0077b6;
}

.fields.name .nameBox > label,
.fields.email .emailBox > label,
.fields.tel .telBox > label,
.fields.bus .busBox > label,
.fields.country .countryBox > label,
.fields.industry .industryBox > label,
.fields.us .usBox > label,
.fields.message .messageBox > label,
.thirdFields h3 {
  bottom: 0;
  color: #023e8a;
}

.fields.name .nameBox::before,
.fields.email .emailBox::before,
.fields.tel .telBox::before,
.fields.bus .busBox::before,
.fields.country .countryBox::before,
.fields.industry .industryBox::before,
.fields.us .usBox::before,
.fields.message .messageBox::before,
.fields.website .thirdFields::before,
.fields.ui .thirdFields::before,
.fields.seo .thirdFields::before,
.fields.marketing .thirdFields::before,
.fields.graphic .thirdFields::before,
.fields.brand .thirdFields::before,
.fields.suite .thirdFields::before {
  color: transparent;
}

.submit {
  align-self: center;
  font-size: 1.2rem;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  background-color: #0077b6;
  color: white;
  transition: all 0.25s ease-in-out;
}

.submit:hover {
  background-color: #023e8a;
  box-shadow: 0rem 0rem 0.2rem black;
}
