.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 100vw;
  min-height: 100vh;
  padding: 5rem 3rem;
  z-index: 2;
  background-color: #03055e31;
  text-align: justify;
  cursor: context-menu;
  user-select: none;
}

.contact h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #0077b6;
}

.contact svg {
  width: 1.8rem;
  fill: #0077b6;
  animation: rotateGlobe 5s linear infinite;
}

@keyframes rotateGlobe {
  to {
    transform: rotateY(360deg);
  }
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.fields input {
  height: 1.7rem;
  border-radius: 0.5rem;
}

.firstFields,
.secFields {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  gap: 1rem;
}

.firstFields > div,
.secFields > div,
.lastFields > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 20rem;
}

.fields label {
  align-self: flex-start;
}

.firstFields > div:first-child,
.secFields > div:first-child {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  width: 80%;
}

.firstFields > div:nth-child(2),
.secFields > div:nth-child(2) {
  grid-row: 2 / -1;
  grid-column: 1 / 2;
}

.firstFields > div:last-child,
.secFields > div:last-child {
  grid-row: 2 / -1;
  grid-column: 2 / 3;
}
