.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100vw;
  min-height: 100vh;
  padding: 4rem 2rem;
  z-index: 2;
  background-color: #03055e31;
  text-align: justify;
  cursor: context-menu;
  user-select: none;
}

.about h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #0077b6;
  text-align: center;
}

.about > section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 50rem;
}

.about > section {
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style-type: square;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.actionButtons {
  display: flex;
  gap: 1rem;
  height: 4rem;
  margin-bottom: 2rem;
}

.actionButtons svg {
  width: 1.2rem;
  fill: white;
  transition: fill 0.25s;
}

.actionButtons button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  height: fit-content;
  width: 11rem;
  padding: 0.4rem 0;
  border-radius: 0.5rem;
  color: white;
  background-color: #023e8a;
  box-shadow: 0.1rem 0.1rem 0.3rem #03045e;
  cursor: pointer;
  transition: all 0.25s;
}

.actionButtons button:hover {
  background-color: rgb(206, 207, 224);
  color: #023e8a;
  border: 0.05rem solid #023e8a;
}

.actionButtons button:hover svg {
  fill: #023e8a;
}

.questionCards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.questionCards > section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.faqs div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  color: white;
  background-color: #023e8a;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: 100%;
  cursor: pointer;
}

.faqs h3 {
  text-align: left;
}

.faqs p {
  font-size: 0.9rem;
  padding: 0 0.5rem;
}

.chevron {
  fill: white;
  width: 0.6rem;
}

.chevron.drop {
  transform: rotate(90deg);
}

.faqLink {
  color: #0077b6;
  cursor: pointer;
}

@media (max-width: 650px) {
  .about {
    padding: 4rem 0.5rem 3rem 0.5rem;
  }

  .about h2 {
    font-size: 1.7rem;
  }

  .faqs p {
    font-size: 1rem;
  }
}

@media (max-width: 450px) {
  .actionButtons {
    flex-direction: column;
  }
}
