.load {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cfcfe0;
  z-index: 15;
  width: 100vw;
  height: 100vh;
  transform: rotateY(180deg);
}

body[data-theme="dark"] .load {
  background: #010112;
}
