.swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95vmin;
  height: 26rem;
}

.swiper-slide {
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
}

.swiper-slide img {
  width: 90%;
  height: 25rem;
  object-fit: fill;
  user-select: none;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: #0077b6;
}

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  font-size: 1.7rem;
  font-weight: 700;
}

.swiper .swiper-pagination-bullet {
  background-color: #0077b6;
}

.swiper .swiper-pagination-bullet-active {
  background-color: #0077b6;
}

.swiper .swiper-scrollbar {
  bottom: 0;
}

.swiper .swiper-scrollbar-drag {
  background: #0077b6;
}

.serviceName {
  font-size: 1.2rem;
  font-weight: 500;
}

.serviceNameBox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-top: 0.1rem solid #0077b6;
  border-bottom: 0.1rem solid #0077b6;
  padding: 0.25rem 0;
}

.serviceNameBox > svg {
  width: 1.1rem;
  fill: #0077b6;
}

@media (max-width: 700px) {
  .swiper {
    height: 21rem;
  }

  .swiper-slide img {
    height: 20rem;
  }
}
