/* #root * {
  border: 0.2rem solid teal;
} */

body {
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1rem;
  font-weight: 470;
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  z-index: 1;
  letter-spacing: 0.05rem;
}

#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
}

.typed-cursor {
  font-size: 2.5rem;
  position: relative;
  bottom: -0.1rem;
}

button,
input,
textarea,
select {
  font-family: "Montserrat", sans-serif;
}

body[data-theme="dark"] #root {
  color: rgb(220, 220, 220);
  font-weight: 400;
}

body::-webkit-scrollbar {
  width: 0.8rem;
}

body::-webkit-scrollbar-track {
  background: #03055e31;
}

body::-webkit-scrollbar-thumb {
  background-color: #0077b6;
  border-radius: 2rem;
  border: 0.2rem solid #cdcedf;
}

body[data-theme="dark"]::-webkit-scrollbar-track {
  background: #010112;
}

body[data-theme="dark"]::-webkit-scrollbar-thumb {
  border: 0.2rem solid #010112;
}
