.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100vh;
  width: 100vw;
  background-color: #03055e31;
  z-index: 2;
}

.body h2 {
  font-size: 2rem;
  font-weight: 500;
  color: #0077b6;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.message > p {
  font-size: 1.1rem;
  cursor: context-menu;
}

.link {
  display: flex;
  flex-direction: column;
  font-size: 0.95rem;
  font-weight: 500;
  position: relative;
  width: max-content;
}

.link p {
  display: flex;
  gap: 0.5rem;
}

.link::after {
  display: block;
  position: relative;
  content: "";
  background-color: #0077b6;
  height: 0.1rem;
  bottom: -0.3rem;
  left: 50%;
  width: 0;
  transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
}

.link:hover::after {
  left: 0;
  width: 100%;
}

.message svg {
  fill: #0077b6;
  width: 1rem;
}
