.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  padding: 0.5rem 3rem;
  width: 100%;
}

.right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #0077b6;
  border-radius: 0.5rem;
  padding-left: 0.7rem;
}

.logo {
  display: flex;
  align-items: center;
  font-style: italic;
  position: relative;
  border-radius: 2rem;
  scale: 1.5;
  border-left: 0.2rem solid black;
  transition: all 0.25s ease-in-out;
}

.logoBox {
  width: 3.3rem;
  padding: 0.5rem 0;
  background-color: rgb(206, 206, 223);
  border-radius: 1rem;
}

.slides {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
  position: absolute;
  left: 0.5rem;
  top: 0.1rem;
  width: 100%;
  height: 110%;
  transform: translateY(-0.2rem);
  z-index: 3;
}

.slides span {
  width: 100%;
  height: 0.12rem;
  background-color: rgb(206, 206, 223);
  /* background-color: red; */
}

.x {
  font-size: 2rem;
  font-weight: 600;
  color: black;
  position: absolute;
  right: -0.22rem;
  transition: opacity 0.25s ease-in-out;
  z-index: 2;
}

.x::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: rgb(206, 206, 223);
  transform: rotate(9deg) translateX(-0.03rem);
}

.nav svg {
  width: 1.45rem;
  fill: #0077b6;
  z-index: 3;
}

.nav button {
  background-color: transparent;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
}

.right button:not(:last-child):after {
  display: block;
  position: relative;
  content: "";
  background-color: white;
  height: 0.1rem;
  bottom: -0.1rem;
  left: 50%;
  width: 0;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.right button:hover::after {
  left: 0;
  width: 100%;
}
