.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  padding: 0.5rem 3rem;
  width: 100%;
}

.logoBox img {
  width: 3rem;
}

.right {
  display: flex;
  align-items: center;
  background-color: #0077b6;
  border-radius: 0.5rem;
  padding-left: 0.7rem;
}

.links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav button {
  background-color: transparent;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
}

.links button:after {
  display: block;
  position: relative;
  content: "";
  background-color: white;
  height: 0.1rem;
  bottom: -0.1rem;
  left: 50%;
  width: 0;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.links button:hover::after {
  left: 0;
  width: 100%;
}

.menu {
  display: none;
}

.active button {
  font-weight: 550;
  color: #03045e;
  cursor: context-menu;
}

.active button::after {
  display: none;
}

@media (max-width: 700px) {
  .menu {
    display: block;
  }

  .right {
    position: relative;
    background-color: transparent;
  }

  .links {
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background: linear-gradient(120deg, #0077b6 30%, #03045e);
    position: absolute;
    right: 1rem;
    top: 3rem;
    width: 0;
    height: 0;
    padding: 0.5rem 0.3rem 0.5rem 0.5rem;
    opacity: 0;
    pointer-events: none;
    transition: width 0.2s linear, height 0.2s 0.2s linear, opacity 0.4s linear;
  }

  .links.close {
    opacity: 0;
    pointer-events: auto;
    width: 0;
    height: 0;
    transition: width 0.15s 0.2s linear, height 0.2s linear, opacity 0.4s linear;
  }

  .links.open {
    opacity: 1;
    pointer-events: auto;
    width: 6.2rem;
    height: 8rem;
  }

  .links button {
    font-size: 0.9rem;
    opacity: 0;
    transform: translateY(1rem);
    transition: transform 0.2s ease-in-out, opacity 0.2s 0.2s;
  }

  .links.open button {
    opacity: 1;
    transform: translateY(0);
  }

  .links.close button {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55),
      opacity 0s 0s;
  }

  button.home {
    transition-delay: 0.2s;
  }

  button.about {
    transition-delay: 0.3s;
  }

  button.services {
    transition-delay: 0.4s;
  }

  button.contact {
    transition-delay: 0.5s;
  }

  .logoBox img {
    width: 2.8rem;
  }
}

body[data-theme="dark"] .logoBox img {
  box-shadow: 0rem 0rem 1rem 0.2rem black;
}
