.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  padding: 0.5rem 2rem;
  width: 100%;
}

.right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #0077b6;
  border-radius: 0.5rem;
  padding-left: 0.7rem;
}

.logo {
  display: flex;
  align-items: center;
  font-style: italic;
  position: relative;
  border-radius: 1rem;
  box-shadow: inset 0.5rem 0.5rem 1rem #90e0ef;
  transition: all 0.25s ease-in-out;
}

.logo:hover {
  box-shadow: inset 0.5rem 0.5rem 1rem #48cae4;
}

.logo:hover .x {
  opacity: 0.7;
}

.logoBox {
  background-color: rgb(206, 206, 223);
  border-radius: 1rem;
}

.logo::after {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 1rem;
  right: -0.42rem;
  transform: rotate(60deg) translateY(0.8rem);
  background-color: rgb(206, 206, 223);
  z-index: 2;
}

.ir {
  font-size: 1.2rem;
  font-weight: 100;
  color: #0077b6;
  align-self: flex-end;
  z-index: 3;
}

.x {
  font-size: 2rem;
  font-weight: 600;
  color: black;
  position: absolute;
  right: -0.6rem;
  opacity: 0.5;
  transition: opacity 0.25s ease-in-out;
  z-index: 2;
}

.nav svg {
  width: 1.5rem;
  fill: #0077b6;
  opacity: 0.88;
  z-index: 3;
}

.nav button {
  background-color: transparent;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
}

.right button::after {
  display: block;
  position: relative;
  content: "";
  background-color: white;
  height: 0.1rem;
  bottom: -0.1rem;
  left: 50%;
  width: 0;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.right button:hover::after {
  left: 0;
  width: 100%;
}
