.footer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  font-size: 0.9rem;
  font-weight: 400;
  text-align: left;
  padding: 2rem;
  background-color: #023e8a;
  z-index: 2;
  color: white;
  cursor: context-menu;
  user-select: none;
}

.socials {
  display: flex;
  gap: 0.5rem;
}

.socials svg {
  fill: rgb(0, 0, 0);
  width: 1.2rem;
  cursor: pointer;
  transition: fill 0.3s ease-in-out;
}

.socials svg:hover {
  fill: white;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info img {
  width: 1.8rem;
  transform: translateY(0.1rem);
}

.info h3 {
  font-size: 1.2rem;
  text-align: left;
}

.toAction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.startButton {
  font-size: 1.1rem;
  padding: 0.1rem 0.5rem;
  border-radius: 0.5rem;
  color: white;
  background: linear-gradient(150deg, #03045e 40%, #0077b6);
  box-shadow: 0rem 0rem 0.3rem black;
  background-size: 200% 200%;
  animation: melange 5s alternate infinite;
  transition: background-color 0.25s ease-in-out;
}

@keyframes melange {
  from {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0% 50%;
  }
}

.startButton:hover {
  background: none;
  background-color: #03045e;
}

.allLinks {
  align-self: stretch;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.directLinks {
  display: flex;
  gap: 1.5rem;
}

.quickLinks button,
.support button {
  font-size: 0.9rem;
  color: white;
  background-color: transparent;
  padding: 0;
  text-align: left;
  white-space: nowrap;
}

.allLinks h4 {
  font-size: 1rem;
  font-weight: 600;
  white-space: nowrap;
}

.quickLinks,
.support {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.copyrightBox {
  text-align: left;
  align-self: center;
  position: relative;
}

.copyrightBox::before {
  content: "";
  height: 0.15rem;
  width: 150%;
  background-color: #03045e;
  border-radius: 1rem;
  position: absolute;
  top: -0.5rem;
}

@media (max-width: 650px) {
  .footer {
    padding: 2rem 0.5rem;
  }

  .allLinks {
    flex-direction: column;
    align-items: center;
  }

  .copyrightBox::before {
    display: none;
  }

  .copyrightBox {
    border-top: 0.15rem solid #03045e;
    padding-top: 0.3rem;
  }
}
